.container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20vh;
    margin-bottom: 10vh;
    min-height: 30vh;
    display: flex;
    padding: 15px 10px 15px 10px; 
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 25px;
}

.text {
    width: 90%;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    color: rgb(190, 190, 190);
    font-size: large;
    font-weight: 600;

}

.heading {
    margin-top: 10vh;
    color: gray;
}