.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.videoPlayer {
  position: relative;
  border-radius: 25px;
  top: 0;
  max-width: 1200px;
  height: max-content;
  box-sizing: border-box;
}

.videoItem {
  width: 100%;
}

.fullScreenControls {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 0.8em;
  width: 100%;
  min-height: 40px;
  padding: 10px 5px;
  z-index: 2147483647;
}

.iconItemBase {
  cursor: pointer;
  padding: 5px;
}

.iconItemBase:hover {
  background-color: grey;
  border-radius: 20px;
}

.controlsTop {
  position: absolute;
  top: 0;
  left: 0;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headingTitleVideo {
  padding: 10px 30px 10px 30px;
  font-size: 34px;
  color: white;
}

.controlsBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: max-content;
  width: 100%;
  display: flex;
  margin-bottom: 3px;
}

.controlsLeftBottom {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.volumeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}

.controlsRightBottom {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1%;
}

.modalWindow {
  position: absolute;
  top: calc(100% - 30% - 70px);
  left: calc(100% - 45% - 10px);
  width: 45%;
  height: 30%;
  min-height: max-content;
  background-color: rgb(62, 62, 62);
  opacity: 0.6;
  border-radius: 25px;
  padding: 3px 4px 3px 4px;
}

.hiddenLayout {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.qualityListItem {
  margin-top: 3px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.qualityListItem:hover {
  background-color: rgb(40, 40, 40);
  border-radius: 25px;
}

.itemsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconMenu {
  font-size: 35px;
}

.qualityContainerSettings {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.settingsItems {
  width: 100%;
  cursor: pointer;
  height: 30px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  color: white;
  font-size: large;
  cursor: pointer;
}

.qualityItem {
  display: flex;
  align-items: center;
  color: white;
  font-size: larger;
  height: 50px;
  padding-left: 30px;
  margin: 4px 6px 4px 6px;
  cursor: pointer;
}

.qualityItem:hover {
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
}

/* #1C274C */
